.Details-Section{
    padding: 40px 0;

    .home-detail{
         border: 1px solid #cecece;
         padding: 20px;
         border-radius: 10px;
         line-height: 1.5;
    .offer-detail{
        .detail-head{
            display: flex;
            justify-content: space-between;
            p{
               span{
                font-size: 20px;
                color: #000;
                font-weight: 600;
                margin-right: 10px;
               }
               a{
                color: #000;
                font-size: 14px;
                text-decoration: underline;
               }
             }
             .dot-icon{
                font-size: 30px;
                font-weight: 500;
             }
        }
     .sale{
        p{
            a{
                color: #000;
                font-size: 14px;
                text-decoration: underline;
                font-weight: 600;
                padding-left: 10px;
               }
        }
      }
    }
 }
 .Home-content{
      border-bottom: 1px solid #524e4e;
    .speciality{
        padding: 15px;
       .Room-speciality{
           display: flex;
           justify-content: space-around;
           .Beds{
               display: flex;
               border-right: 2px solid #00000061;
           }
           .Baths{
               display: flex;
               border-right: 2px solid #00000061;
           }
           .Balcony{
               display: flex;
               border-right: 2px solid #00000061;
           }
           .Unfurnished{
               display: flex;
               border-right: 2px solid #00000061;
           }
       }
   }
   .Land-speciality{
       display: flex;
       flex-wrap: wrap;
       .land-1{
           display: flex;
           align-items: center;
           justify-content: space-around;
           padding: 10px 30px;
       }
   }
   .offer{
    padding: 15px;
     .btn{
        padding:5px 10px;
        font-size: 10px;
        color: #000;
        border-radius: 30px;
        background-color: rgb(255, 255, 0);
        border: none;
    }
     p{
        font-size: 12px;
        color: #444343;
     }
   }
 }
 .Contact-btn{
    padding: 15px;
    .contac-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contac-book{
        .Con-btn{
            background-color: rgb(228, 8, 8);
            border-radius: 40px;
            padding: 10px 20px;
            border: none;
            margin-left: 20px;
            a{
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            }
          }
        }
        .dayUpdate{
            display: flex;
            .personicon{
                color: rgb(5, 238, 238);
            }
        } 
     }
   }

   .contact-detail{
    
    .fixed{
        box-shadow: 0 0 2px #000;
        padding: 20px;
        border-radius: 10px;
        p{
            font-size: 14px;
            padding: 12px 0px;
            color:#000000a8 ;  
        }
        a{
            color:#000000a8 ;  
        }
    .form{
        padding-top: 30px;
    }  
    .Contact-Details{
        text-align: center;
        button{
            padding: 12px 40px;
            border-radius: 24px;
            color: #fff;
            background-color: #d8232a;
            border: none;
            font-weight: 700;
            font-size: 16px;
        }
    }
    }
   }

}
.condition-section{
    .buy{
        background-color: #fff;
        padding:15px;
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        margin:15px auto;  
    ul{
        color: #303030;
        padding:10px;
        line-height: 2;
        font-size: 14px;
        font-weight: 400;
    }
    span{
        text-decoration: underline;
        font-weight: 600;
        font-size: 14px;
    }
  }
}
.More-Details{
    .All-Details{
      box-shadow: 0 0 2px #000;
      padding: 20px;
      border-radius: 10px;
        h3{
            font-size: 24px;
            font-weight: 500;
            padding: 20px 0;
        }
     table{
        tr{
        .bold{
            font-size: 18px;
            font-weight: 500;
            padding-right: 40px;
         }  
           td{
             font-size: 18px;
             font-weight: 400;
             padding: 10px 0;
           }
        }
      }
      .view{
        display: flex;
        color: rgb(251, 29, 29);
        padding: 15px 0;
        a{
        color: rgb(251, 29, 29);
        font-size: 18px;
      }
     }
     p{
        font-size: 20px;
        font-weight: 500;
        padding: 10px 0;
      span{
         font-size: 16px;
         font-weight: 400;
        }
     }
     .Contact-btn{
        display: flex;
        padding: 20px 0;
        .Con-btn{
            background-color: rgb(228, 8, 8);
            border-radius: 40px;
            padding: 10px 20px;
            border: none;
            a{
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            }
        }
       }
    }
}
.Amenities-section{
    padding: 40px 0;
   .amenities{
    padding: 20px;
    box-shadow: 0 0 2px #000;
    border-radius: 10px;
    h3{
        font-size: 30px;
        font-weight: 500;
    }
    .Amenities-content{
        display: flex;
        align-items: center;
        padding: 20px 0;

        p{
            padding-left: 10px;
            font-size: 18px;
            font-weight: 300;
        }
        .icon{
            color: red;
        }
    }
    .Contact-btn{
        display: flex;
        align-items:center ;
    .Con-btn{
        border: none;
        padding: 20px 10px;
        font-size: 16px;
        display: flex;
        align-items: center;
        font-size: 18px;
        color: red;
        a{
            color: red;
            text-decoration: underline;
        }
      }
      .Brochure{
        display: flex;
        align-items: center;
        border: none;
        padding-left: 10px;
        a{
        color: rgb(16, 16, 16);
        font-size: 18px;
        }
      }
    }
  }
}